<?xml version="1.0" ?>
<robot name="kitchen_robot" xmlns:xacro="http://ros.org/wiki/xacro">

  <gazebo reference="base_link">
   
  </gazebo>

  <xacro:include filename="$(find kitchen_bot)/urdf/arm.urdf"/>
    <joint name="armGlue" type="fixed">
    <parent link="base_link"/>
    <child link="ur5_base_link"/>
    <origin rpy="0 0 0" xyz="0 0 0.15"/>
  </joint>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>

</robot>
